#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config FS_SHMFS
	bool "Shared memory support"
	select MM_VM_MAP
	default n
	---help---
		Include support for shm_open() and shm_close.

if FS_SHMFS

config FS_SHM_VFS_PATH
	string "Path to shared memory object storage"
	default "/var/shm"
	---help---
		The path to where shared memory objects will exist in the VFS
		namespace.

config FS_SHM_VFS_MAXNAMLEN
	int "Maximum file name length"
	default 128
	---help---
		The maximum size of an SHMFS file name.
		Default: 255.

endif # FS_SHM
